<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      Musing - Edu
    </div>
    <div>
      <button mat-flat-button color="accent" *ngIf="loggedInUserData$ | async" [matMenuTriggerFor]="menu">
        Welcome {{(loggedInUserData$ | async).firstName}}
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" mat-menu-item>Profile Information</button>
        <button type="button" mat-menu-item (click)='onLogout()'>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
