<mat-dialog-content>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title><i class="fas fa-school icon-space"></i>
          <span class="span-space">Add Hostel</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <form [formGroup]="">
            <mat-form-field>
              <mat-label>Add Hostel</mat-label>
              <input matInput id="hostelName" name="hostelName" placeholder="Enter hostel name.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput id="hostelAddress" name="hostelAddress" placeholder="Enter Address.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput id="hostelCity" name="hostelCity" placeholder="Enter city.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Pin code</mat-label>
              <input matInput id="hostelPin" name="hostelPin" placeholder="Enter pin code.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
              <input matInput id="hostelState" name="hostelState" placeholder="Enter state.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput id="hostelCountry" name="hostelCountry" placeholder="Enter country.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contact number</mat-label>
              <input matInput id="hostelContact" name="hostelContact" placeholder="Enter contact number.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput id="hostelEmail" name="hostelEmail" placeholder="Enter email id.">
            </mat-form-field>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent">Add</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
