<div class="main-area-hostelDash">
  <mat-toolbar color="warn" class="mat-elevation-z8">
    <mat-toolbar-row>
      <div>
        Hostel Dashboard
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="hostel-content">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Hostels
          <i class="fab fa-angular"></i> </mat-card-title>
        <mat-card-subtitle>Hostels Summery</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>1</mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Building</mat-card-title>
      </mat-card-header>
      <mat-card-content>2</mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Floor</mat-card-title>
      </mat-card-header>
      <mat-card-content>3</mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Rooms</mat-card-title>
      </mat-card-header>
      <mat-card-content>4</mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Beds</mat-card-title>
      </mat-card-header>
      <mat-card-content>5</mat-card-content>
    </mat-card>
  </div>
  <div class="hostel-content test-bg">
    This area will have the graph
  </div>
</div>
