<div class="main-area-hostelDash">
  <mat-toolbar color="warn" class="mat-elevation-z8">
    <mat-toolbar-row>
      <div>
        Hostel Dashboard
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="hostel-content">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Hostels</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        we can display the information related to hostel here like
        no of hostel, active hostel etc
        we can display the information related to hostel here like
        no of hostel, active hostel etc
        we can display the information related to hostel here like
        no of hostel, active hostel etc
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-hammer"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Building</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        we can display the information related to hostel here like
        no of hostel, active hostel etc
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Floor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        we can display the information related to hostel here like
        no of hostel, active hostel etc
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Rooms</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        we can display the information related to hostel here like
        no of hostel, active hostel etc
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Beds</mat-card-title>
      </mat-card-header>
      <mat-card-content>we can display the information related to hostel here like
        no of hostel, active hostel etc
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="test-bg">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
</div>
