.main-area-hostelDash{
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.hostel-content{
  margin: 5px;
  display: flex;
  justify-content: space-around;
  height: 30%;
  width: 100%;
}
mat-card{
  height: 100%;
  max-width: 18rem;
  margin: 5px;
  padding: 5px;
}

.mat-card-header{
  width: 100%;
  background-color:#3f51b5;
  color: white;
}

mat-card-content{
  height: 60%;
}

mat-card-footer{
  padding: 5px;
  margin: 7px;
}

.test-bg{
  display: flex;
  height: 65%;
  width: 100%;
}
canvas{
  display: flex;
  height: 100%;
  width: 100%;
}
